<div class="academic-links">
  <a href="https://orcid.org/0000-0002-9163-3166" class="academic-link academic-link--orcid" target="_blank" rel="noopener" aria-label="ORCID">
    <img src="/assets/Orcid%20logo.svg" width="20" height="20" alt="ORCID">
    <span>ORCID</span>
  </a>
  <a href="https://scholar.google.co.uk/citations?user=-q1cxTIAAAAJ&hl=en&oi=ao" class="academic-link academic-link--scholar" target="_blank" rel="noopener" aria-label="Google Scholar">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" fill="currentColor"><path d="M256 411.12L0 202.667 256 0l256 202.667zM256 411.12l192-148.787v227.574c0 12.44-10.04 22.56-22.4 22.56H86.4C74.04 512 64 501.88 64 489.44V262.333z"/></svg>
    <span>Google Scholar</span>
  </a>
  <a href="https://cambridge.academia.edu/Hj%C3%B6rdisBeckerLindenthal" class="academic-link academic-link--academia" target="_blank" rel="noopener" aria-label="Academia.edu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor"><path d="M12 0L1.5 4.5v1.125L12 10.125l10.5-4.5V4.5zm-9 7.875v8.25L12 24l9-7.875v-8.25L12 12z"/></svg>
    <span>Academia.edu</span>
  </a>
</div>
